<?xml version="1.0" ?>
<launch>  
	<node pkg="chomp_motion_planner" name="chomp_planner_longrange" type="chomp_planner_node" respawn="false" output="screen">
		<remap from="collision_map" to="collision_map_occ"/>
		<rosparam command="load" file="$(find mtconnect_m16ib20_arm_navigation)/config/chomp_planning.yaml" />
		<param name="animate_path" value="false"/>
		<param name="animate_endeffector" value="false"/>
		<param name="animate_endeffector_segment" value="tcp_frame"/>
	  	<param name="use_signed_environment_field" value="true"/>
	  	<param name="use_signed_self_field" value="false"/>
		<param name="trajectory_duration" value="6.0"/>
		<param name="trajectory_discretization" value="0.05"/>
		<param name="learning_rate" value="100.0" />
		<param name="max_iterations" value="500"/>
		<param name="max_iterations_after_collision_free" value="5" />
		<param name="smoothness_cost_weight" value="0.00001"/>
		<param name="obstacle_cost_weight" value="1.0" />
		<param name="joint_update_limit" value="0.05" />
		<param name="ridge_factor" value="0.0" />
		<param name="use_pseudo_inverse" value="true" />
		<param name="pseudo_inverse_ridge_factor" value="0.0001" />
		<param name="collision_threshold" value="0.125" />
		<param name="smoothness_cost_velocity" value="0.0" />
		<param name="smoothness_cost_acceleration" value="1.0" />
		<param name="smoothness_cost_jerk" value="0.000000" />

		<param name="add_randomness" value="true" />
		<param name="random_jump_amount" value="1.0"/>
		<param name="use_hamiltonian_monte_carlo" value="false" />
		<param name="hmc_discretization" value="0.01" />
		<param name="hmc_stochasticity" value="0.0" />
		<param name="hmc_annealing_factor" value="0.99" />

		<param name="use_stochastic_descent" value="false"/>
	
		<!-- Uncomment the following line if using warehouse -->
		<!--remap from="filter_trajectory" to="trajectory_filter/filter_trajectory_with_constraints" /-->	
		<remap from="filter_trajectory" 
			to="trajectory_filter_server/filter_trajectory_with_constraints" />

		<!-- (replaced element) loading robot padding -->
		<rosparam command="load" file="$(find mtconnect_m16ib20_arm_navigation)/config/robot_padding.yaml"/>
	
		<!-- (replaced element) loading joint limits -->
		<rosparam command="load" file="$(find mtconnect_m16ib20_arm_navigation)/config/joint_limits.yaml"/>
	</node>
</launch>


