<?xml version="1.0" ?>
<launch>
    <param name="robot_description" 
	command="$(find xacro)/xacro.py '$(find mtconnect_cnc_robot_example)/urdf/mtconnect_m16ib20_cnc_environment.xacro'" />
    <rosparam command="load" ns="robot_description_planning" file="$(find mtconnect_m16ib20_arm_navigation)/config/mtconnect_m16ib20_planning_description.yaml" />
    <rosparam command="load" ns="robot_description_collision" file="$(find mtconnect_m16ib20_arm_navigation)/config/robot_padding.yaml"/>
</launch>
