<?xml version="1.0" ?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find mtconnect_cnc_robot_example)/urdf/mtconnect_environment.xacro'"/>
    <rosparam command="load" ns="robot_description_planning" file="$(find mtconnect_arm_navigation)/config/mtconnect_planning_description.yaml" />
    <rosparam command="load" ns="robot_description_collision" file="$(find mtconnect_arm_navigation)/config/robot_padding.yaml"/>
</launch>

